<div class="d-flex align-items-center justify-content-center text-center" style="background: black;">
  <div class="row h-100">
  <div class="col-sm-12 ">

    <img src="./assets/media/Logo/EwmLogo.jpg" class="img-fluid" width="700px">

    <h1 style="color: red;">We do it all</h1>
    <h3 style="color: darkgrey">SALES - SERVICE - TIRE - DETAIL</h3>

    <a href="https://www.instagram.com/theedgewatermotors/" target="_blank">
    <i class="fab fa-instagram mx-2 " style="color: darkgrey; font-size: 1.2em; font-weight: bold;">
        <span
          style="font-family: custom,serif;">  theedgewatermotors
        </span>
    </i></a>

    <i class="fas fa-phone-alt mx-2" style="color: darkgrey; font-size: 1.2em; font-weight: bold;">
        <span style="font-family: custom,serif; ">
            (201) 945-5000
        </span>
    </i>
    <a href="mailto:edgewatermotors@gmail.com">
    <i class="far fa-paper-plane mx-2" style="color: darkgrey;  font-size: 1.2em; font-weight: bold;">
        <span style="font-family: custom,serif;">
        edgewatermotors@gmail.com
        </span>
    </i>
    </a>

    <a href="https://goo.gl/maps/WzzAH6EputNZN6io7" target="_blank">
    <i class="fas fa-map-pin mx-2 my-2" style="color: darkgrey; font-size: 1.2em; font-weight: bold;">
        <span
          style="font-family: custom,serif;"> 866 River Rd, Edgewater, NJ 07020
        </span>
    </i>
    </a>

  </div>
</div>
</div>
